*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(
        90deg,
        #cc1517 100%,
        #cc1517 25%);
        font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back {
    width: 100%px;
    padding: 60px 0;
    background-color: #000000;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #cc1517;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 90px 0;
    }

    .menu .navbar {
        position: absolute;
        top:  100%;
        left: 0;
        right: 0;
        background-color: #2a394f;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}
.mapa{
    margin-top: 15px;
    margin-bottom: 15px;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background:#000000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background:#24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #cc1517;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .botons {
    width: 100%;
    background: #cc1517;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}




    /
    .slider {
        max-width: 1200px;
    }
    .slider img {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        max-height: 800px;
        margin: 0 auto;
    }*/